@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --bg-color: #f3f7ff;
  --border-color: #e3e7ea;
  --smart-mind-20: #ffffff;
  --smart-mind-50: #edf7ff;
  --smart-mind-100: #d6ecff;
  --smart-mind-200: #b5dfff;
  --smart-mind-300: #83ccff;
  --smart-mind-400: #48b0ff;
  --smart-mind-500: #1e8aff;
  --smart-mind-600: #0669ff;
  --smart-mind-700: #004eec;
  --smart-mind-800: #0841c5;
  --smart-mind-900: #0d3c9b;
  --smart-mind-950: #0e255d;
  --text-color: #0e0e11;
}

::selection {
  background-color: var(--smart-mind-700);
  color: var(--smart-mind-20);
}

::-webkit-scrollbar {
  appearance: none;
  width: 6px;
  height: 6px;
  background-color: #ddd;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 50px;
  border: 1px solid #999;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Preloader */
.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--smart-mind-20);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.preloader .spinner {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--smart-mind-600);
  border-radius: 50%;
  border-bottom-color: var(--smart-mind-100);
  animation: loader 0.5s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader.hide-loader {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Main Container */

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--smart-mind-20);
}

.main-container .container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.container .inner-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.inner-container .logo {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container .logo img {
  width: 28rem;
}

.inner-container h1 {
  padding: 1rem 0;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--smart-mind-700);
}

.inner-container .login-form-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-container .login-form {
  width: 50rem;
  background-color: var(--smart-mind-20);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.login-form .form {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.form .icon-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.form .icon {
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  text-align: center;
  line-height: 5rem;
}
.form .icon i {
  font-size: 1.6rem;
  color: var(--smart-mind-700);
}

.form .head {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.head h2 {
  font-size: 2.2rem;
  color: var(--smart-mind-700);
  line-height: 1.5;
}
.head p {
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 1.6;
}

.form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.input-group .input-field {
  width: 100%;
  height: 6rem;
  position: relative;
}

.input-field i {
  position: absolute;
  font-size: 1.7rem;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}
.input-field input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 1.5rem;
  outline: 0;
  padding: 0 4.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
}
.input-field input:is(:focus, :valid) {
  border-color: var(--smart-mind-600);
}
.input-field input::placeholder {
  font-weight: normal;
}

.form .forgot-password {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.forgot-password a {
  font-size: 1.5rem;
  color: var(--smart-mind-600);
}

.form .btn {
  width: 100%;
  margin-top: 2rem;
}
.btn .loginBtn {
  width: 100%;
  height: 5rem;
  background-color: var(--smart-mind-500);
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--smart-mind-20);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn .loginBtn:hover {
  background-color: var(--smart-mind-600);
}

.login-form-container p {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
}
.login-form-container p a {
  color: var(--smart-mind-700);
}
