@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --bg-color: #f3f7ff;
  --border-color: #e3e7ea;
  --smart-mind-20: #ffffff;
  --smart-mind-50: #edf7ff;
  --smart-mind-100: #d6ecff;
  --smart-mind-200: #b5dfff;
  --smart-mind-300: #83ccff;
  --smart-mind-400: #48b0ff;
  --smart-mind-500: #1e8aff;
  --smart-mind-600: #0669ff;
  --smart-mind-700: #004eec;
  --smart-mind-800: #0841c5;
  --smart-mind-900: #0d3c9b;
  --smart-mind-950: #0e255d;
  --text-color: #0e0e11;
}

::selection {
  background-color: var(--smart-mind-700);
  color: var(--smart-mind-20);
}

::-webkit-scrollbar {
  appearance: none;
  width: 6px;
  height: 6px;
  background-color: #ddd;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 50px;
  border: 1px solid #999;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--smart-mind-20);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.preloader .spinner {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--smart-mind-950);
  border-radius: 50%;
  border-bottom-color: transparent;
  border-top-color: transparent;
  animation: loader 0.7s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader.hide-loader {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: var(--smart-mind-20);
}
.main-container .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .left-side {
  width: 22%;
  height: 100%;
  border-right: 1px solid var(--border-color);
}
.left-side .inner-left-side {
  width: 100%;
  height: 100%;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.inner-left-side .logo {
  width: 100%;
  height: 6rem;
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 85%;
}

.inner-left-side nav {
  width: 100%;
  height: calc(100% - 6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
nav .nav-bar {
  width: 100%;
  padding: 3rem 0 2rem;
}
.nav-bar ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nav-bar ul li {
  width: 100%;
  /* height: 5rem; */
  padding: 1.5rem 1.5rem;
  border: 2px solid transparent;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  transition:  0.3s ease-in-out;
}
.nav-bar ul li:hover {
  border-color: var(--smart-mind-700);
}
.nav-bar ul li.active {
  border-color: var(--smart-mind-700);

}

.nav-bar ul li .icon {
  width: 2.5rem;
  height: 2.5rem;
}
.icon img {
  width: 100%;
  height: 100%;
}

.nav-bar ul li span {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
.nav-bar ul li.active span {
  color: var(--smart-mind-700);
}
.nav-bar ul li:hover span {
  color: var(--smart-mind-700);
}

nav .logout-btn {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;
  transition: 0.3s ease-in-out;
}
.logout-btn a {
  display: block;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logout-btn a .icon {
  width: 2.5rem;
  height: 2.5rem;
}
.icon img {
  width: 100%;
  height: 100%;
}
.logout-btn a span {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
nav .logout-btn:hover {
  background-color: var(--smart-mind-50);
}
nav .logout-btn:hover span {
  color: var(--smart-mind-700);
}

.container .right-side {
  width: 78%;
  height: 100%;
}
.right-side .header {
  width: 100%;
  height: 7rem;
  padding: 0 3%;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.header .admin {
  position: relative;
}
.header .admin .admin-info-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}
.admin-info-wrapper .admin-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.admin-image img {
  width: 100%;
  height: 100%;
}

.admin-info-wrapper .admin-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.admin-info h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
}
.admin-info p {
  font-size: 1.2rem;
}
.admin-info-wrapper i {
  font-size: 2.5rem;
  color: var(--text-color);
}

.admin .admin-menu {
  position: absolute;
  width: 25rem;
  top: 120%;
  left: 0;
  padding: 1.5rem;
  background-color: var(--smart-mind-20);
  border-radius: 1.2rem;
  box-shadow: 0 5px 3rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  opacity: 0;
  visibility: hidden;
  /* pointer-events: none; */
  transition: 0.2s ease-in-out;
}

.admin-menu li a {
  display: block;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}
.admin-menu li.active a {
  background-color: var(--bg-color);
  color: var(--smart-mind-700);
}
.admin-menu li a:hover {
  background-color: var(--bg-color);
  color: var(--smart-mind-700);
}

.admin:hover > .admin-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.right-side .inner-right-side {
  width: 100%;
  height: calc(100% - 7rem);
  padding: 3%;
  background-color: var(--bg-color);
  overflow: auto;
}
.inner-right-side .section {
  width: 100%;
  height: 100%;
}

.inner-right-side .section {
  display: none;
}

.inner-right-side .section.active {
  display: block;
}
/* .inner-right-side .dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3%;
} */
.dashboard .dashboard-content {
  width: 100%;
  padding: 1.5rem;
  /* margin-top: 3%; */
  background-color: #ccc;
}
.dashboard .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
}
.cards .card {
  padding: 2rem 3rem;
  display: flex;
  gap: 2.2rem;
  background-color: var(--smart-mind-20);
  border: 1px solid var(--border-color);
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card .icon {
  width: 8rem;
  height: 8rem;
}
.card .icon img {
  width: 100%;
  height: 100%;
}
.card .card-info {
  display: flex;
  flex-direction: column;
}
.card-info h1 {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.6;
}

.inner-right-side .section h1 {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--smart-mind-700);
}

/* Students */

.students .student-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0;
}
.student-section .student-container {
  width: 110rem;
  border: 1px solid var(--border-color);
  border-radius: 1.5rem;
  overflow: hidden;
}
.student-container .student-info,
.student-container .student-items {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
}
.student-container .student-items:last-child {
  border-bottom: 0;
}

.student-info .stud-uid,
.student-info .stud-name,
.student-info .stud-email,
.student-info .stud-username,
.student-info .stud-gender {
  width: 20rem;
  height: 6rem;
  background-color: var(--smart-mind-20);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
  /* letter-spacing: 0.15rem; */
}

.student-info .stud-name,
.student-info .stud-email {
  width: 25rem;
}

.student-items .stud-uid,
.student-items .stud-name,
.student-items .stud-email,
.student-items .stud-username,
.student-items .stud-gender {
  width: 20rem;
  height: 6rem;
  background-color: var(--smart-mind-20);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  word-break: break-all;
  text-align: center;
  letter-spacing: 0.10rem;
}

.student-items .stud-name,
.student-items .stud-email {
  width: 25rem;
}

/* Add New Topic */

.new-topic .new-topic-container {
  width: 100%;
  height: 100%;
  padding: 3% 0;
}
.new-topic-container .new-topic-form {
  width: 100%;
  padding: 2rem;
  background-color: var(--smart-mind-20);
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.new-topic-form label {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color);
}
.new-topic-form .topic-input-field {
  width: 50rem;
  height: 6rem;
  position: relative;
}
.topic-input-field i {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  transform: translateY(-50%);
  z-index: 1;
}
.topic-input-field input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--smart-mind-20);
  border: 2px solid var(--border-color);
  border-radius: 1.5rem;
  padding: 0 4.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.topic-input-field input::placeholder {
  font-weight: normal;
}
.topic-input-field input:is(:focus, :valid) {
  border-color: var(--smart-mind-700);
}

.new-topic-form .btn {
  width: 15rem;
  height: 5rem;
}
.btn input[type="submit"] {
  width: 100%;
  height: 100%;
  background-color: var(--smart-mind-600);
  border: 0;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--smart-mind-20);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn input[type="submit"]:hover {
  background-color: var(--smart-mind-700);
}

/* Add New Questions */

.new-question .add-questions-container {
  width: 100%;
  padding: 3% 0;
}
.add-questions-container .question-form {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 2rem;
  /* margin: 3% 0; */
  background-color: var(--smart-mind-20);
  border-radius: 1.5rem;
}

.question-form .topic-dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.topic-dropdown .select-topic {
  width: 100%;
  height: 6rem;
  border: 2px solid var(--border-color);
  border-radius: 1rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.select-topic label {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 0.4px;
}
.select-topic i {
  font-size: 2rem;
}

.topic-dropdown .topicList {
  width: 100%;
  padding: 2rem;
  border: 2px solid var(--border-color);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  display: none;
}
.topic-dropdown .topicList.open {
  display: flex;
}
.topicList li {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid var(--border-color);
}
.topicList li input[type="radio"] {
  appearance: none;
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  border: 2px solid var(--border-color);
  border-radius: 0.4rem;
}
.topicList li input[type="radio"]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border-radius: 0.2rem;
}
.topicList li input[type="radio"]:checked {
  border-color: var(--smart-mind-700);
}
.topicList li input[type="radio"]:checked::before {
  background-color: var(--smart-mind-700);
}

.topicList li label {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 0.4px;
  cursor: pointer;
}

.question-form .question-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.question-form .question-container {
  width: 100%;;
}
.question-container label {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
}

.question-container textarea {
  width: 100%;
  height: 10rem;
  font-size: 1.6rem;
  font-weight: 500;
  border: 2px solid var(--border-color);
  border-radius: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;
  resize: none;
}
.question-container textarea:is(:focus, :valid) {
  border-color: var(--smart-mind-700);
}
.question-container textarea::placeholder {
  font-weight: normal;
}

.question-options .options-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.options-container .option-group {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.option-group .option-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.option-input label {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
}
.option-input input {
  width: 100%;
  height: 6rem;
  border: 2px solid var(--border-color);
  border-radius: 1rem;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.option-input input:is(:focus, :valid) {
  border-color: var(--smart-mind-700);
}
.option-input input::placeholder {
  font-weight: normal;
}

.question-form .btn {
  width: 100%;
  height: 5rem;
}
.btn input[type="submit"] {
  width: 30rem;
  height: 100%;
}
