@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --bg-color: #f3f7ff;
  --border-color: #e3e7ea;
  --smart-mind-20: #ffffff;
  --smart-mind-50: #edf7ff;
  --smart-mind-100: #d6ecff;
  --smart-mind-200: #b5dfff;
  --smart-mind-300: #83ccff;
  --smart-mind-400: #48b0ff;
  --smart-mind-500: #1e8aff;
  --smart-mind-600: #0669ff;
  --smart-mind-700: #004eec;
  --smart-mind-800: #0841c5;
  --smart-mind-900: #0d3c9b;
  --smart-mind-950: #0e255d;
  --text-color: #0e0e11;
}

::selection {
  background-color: var(--smart-mind-700);
  color: var(--smart-mind-20);
}

::-webkit-scrollbar {
  appearance: none;
  width: 6px;
  height: 6px;
  background-color: #ddd;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 50px;
  border: 1px solid #999;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--smart-mind-20);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.preloader .spinner {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--smart-mind-950);
  border-radius: 50%;
  border-bottom-color: transparent;
  border-top-color: transparent;
  animation: loader 0.7s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader.hide-loader {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main-container {
  width: 100%;
  height: 100%;
  /* padding: 5rem; */
}
.main-container .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .quiz-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-form .quiz-container {
  width: 80rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* display: none; */
}
/* .quiz-container.active {
  display: block;
} */

.quiz-container .top {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top .title h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-color);
}

.top .timer h2 {
  font-size: 3.2rem;
  font-weight: 500;
}

.quiz-container .quiz-content-wrapper {
  width: 100%;
  padding: 1.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.quiz-content-wrapper h1 {
  font-size: 4rem;
  color: var(--text-color);
}
.quiz-content-wrapper .question-container {
  padding: 1rem;
}
.quiz-content-wrapper .question-container p {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.4;
  letter-spacing: 0.4px;
  text-align: center;
}

.quiz-content-wrapper .options-container {
  width: 100%;
  /* padding: 2rem 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.options-container .option-group {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.option-group .option-field {
  width: 100%;
  height: 6rem;
  border: 2px solid var(--border-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 0 0 1.5rem;
}
.option-field span {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-color);
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.option-group label {
  display: block;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.quiz-container hr {
  width: 95%;
  height: 1.5px;
  outline: none;
  border: 0;
  background-color: var(--border-color);
}

.quiz-container .submit-btn {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-btn input[type="button"] {
  padding: 0.8rem 4rem;
  background-color: var(--smart-mind-600);
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--smart-mind-20);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.submit-btn input[type="button"]:hover {
  background-color: var(--smart-mind-700);
}
