@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --bg-color: #f3f7ff;
  --border-color: #e3e7ea;
  --smart-mind-20: #ffffff;
  --smart-mind-50: #edf7ff;
  --smart-mind-100: #d6ecff;
  --smart-mind-200: #b5dfff;
  --smart-mind-300: #83ccff;
  --smart-mind-400: #48b0ff;
  --smart-mind-500: #1e8aff;
  --smart-mind-600: #0669ff;
  --smart-mind-700: #004eec;
  --smart-mind-800: #0841c5;
  --smart-mind-900: #0d3c9b;
  --smart-mind-950: #0e255d;
  --text-color: #0e0e11;
}

::selection {
  background-color: var(--smart-mind-700);
  color: var(--smart-mind-20);
}

::-webkit-scrollbar {
  appearance: none;
  width: 6px;
  height: 6px;
  background-color: #ddd;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 50px;
  border: 1px solid #999;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Preloader */
.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--smart-mind-20);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.preloader .spinner {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--smart-mind-600);
  border-radius: 50%;
  border-bottom-color: var(--smart-mind-100);
  animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: (360deg);
  }
}

.preloader.hide-loader {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Main Container */

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--smart-mind-20);
}

/* Left Container */

.main-container .left-container {
  width: 25%;
  height: 100%;
  padding: 1rem;
}
.left-container .left-inner-container {
  width: 100%;
  height: 100%;
  padding: 2rem 2.5rem;
  background-color: var(--bg-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-inner-container .logo {
  width: 100%;
}
.logo img {
  width: 25rem;
}

.left-inner-container .steps {
  margin-top: -20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.steps .step {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.step .step-icon {
  width: 4.5rem;
  height: 4.5rem;
  border: 1px solid var(--smart-mind-200);
  background-color: var(--smart-mind-50);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step.active .step-icon {
  border: 1px solid var(--smart-mind-700);
  transition: 0.4s ease-in-out;
}

.step .step-icon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 3.2rem;
  background-color: var(--smart-mind-200);
}
.step.active .step-icon::after {
  background-color: var(--smart-mind-700);
  transition: 0.4s ease-in-out;
}
.step-4 .step-icon::after {
  display: none;
}

.step-icon i {
  font-size: 1.5rem;
  color: var(--smart-mind-400);
  opacity: 0.7;
}
.step.active .step-icon i {
  color: var(--smart-mind-700);
  transition: 0.4s ease-in-out;
  opacity: 1;
}

.step .step-text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: var(--smart-mind-600);
}
.step.active .step-text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.step .step-text h2 {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: var(--text-color);
  opacity: 0.7;
}
.step.active .step-text h2 {
  opacity: 1;
  color: var(--smart-mind-700);
  transition: 0.4s ease-in-out;
}
.step .step-text p {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: var(--text-color);
  opacity: 0.7;
}
.step.active .step-text p {
  opacity: 1;
  color: var(--smart-mind-700);
  transition: 0.4s ease-in-out;
}

.left-inner-container .login-link {
  width: 100%;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  border: 1px solid var(--text-color);
  border-radius: 8px;
}

.login-link a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
}

/* Right Container */

.main-container .right-container {
  width: 75%;
  height: 100%;
  padding: 1rem;
}

.right-container .right-inner-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
}

.right-inner-container .logo {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-inner-container .logo img {
  width: 28rem;
}

.right-inner-container h1 {
  padding: 1rem 0;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.right-inner-container .registration-form-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form-container .registration-form {
  width: 100%;
  /* height: 40rem; */
  background-color: var(--smart-mind-20);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.registration-form .form {
  width: 50rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  display: none;
}
.form.active {
  display: flex;
}

.form .icon-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.form .icon {
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  text-align: center;
  line-height: 5rem;
}
.form .icon i {
  font-size: 1.6rem;
}

.form .head {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.head h2 {
  font-size: 2.2rem;
  color: var(--text-color);
  line-height: 1.5;
}
.head p {
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 1.6;
}

.form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.input-group .input-field {
  width: 100%;
  height: 6.2rem;
  position: relative;
}

.input-field i {
  position: absolute;
  font-size: 1.7rem;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}
.input-field input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 1.5rem;
  outline: 0;
  padding: 0 4.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
}
.input-field input:is(:focus, :valid) {
  border-color: var(--smart-mind-600);
}
.input-field input::placeholder {
  font-weight: normal;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.input-field.gender-selection {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.gender-selection .field-heading {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--smart-mind-700);
}
.gender-selection label {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.7rem;
  font-weight: 600;
}
.gender-selection input[type="radio"] {
  width: 2.2rem;
  height: 2.2rem;
  accent-color: var(--smart-mind-700);
}

.form .btn {
  width: 100%;
  margin-top: 2rem;
}
.btn .next-form-btn {
  width: 100%;
  height: 5.5rem;
  background-color: var(--smart-mind-500);
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--smart-mind-20);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn .form-btn:hover {
  background-color: var(--smart-mind-600);
}

.form-2 .btn,
.form-3 .btn,
.form-4 .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.form-2 .btn button,
.form-3 .btn button,
.form-4 .btn button,
.form-4 .btn input[type="button"] {
  width: 50%;
  height: 5.5rem;
  background-color: var(--smart-mind-500);
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--smart-mind-20);
  cursor: pointer;
  transition: 0.2s ease-in-out; 
}
.form-2 .btn button:hover,
.form-3 .btn button:hover,
.form-4 .btn button:hover {
  background-color: var(--smart-mind-600);
}

.form-2 .btn input[type="button"],
.form-3 .btn input[type="button"],
.form-4 .btn input[type="submit"] {
  width: 50%;
}

.right-inner-container .pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.pagination .indicator {
  width: 1rem;
  height: 1rem;
  background-color: var(--smart-mind-100);
  border-radius: 1rem;
  transition: width 300ms linear;
}
.pagination .indicator.active {
  width: 5rem;
  background-color: var(--smart-mind-700);
}
