@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --bg-color: #f3f7ff;
  --border-color: #e3e7ea;
  --smart-mind-20: #ffffff;
  --smart-mind-50: #edf7ff;
  --smart-mind-100: #d6ecff;
  --smart-mind-200: #b5dfff;
  --smart-mind-300: #83ccff;
  --smart-mind-400: #48b0ff;
  --smart-mind-500: #1e8aff;
  --smart-mind-600: #0669ff;
  --smart-mind-700: #004eec;
  --smart-mind-800: #0841c5;
  --smart-mind-900: #0d3c9b;
  --smart-mind-950: #0e255d;
  --text-color: #0e0e11;
}

::selection {
  background-color: var(--smart-mind-700);
  color: var(--smart-mind-20);
}

::-webkit-scrollbar {
  appearance: none;
  width: 6px;
  height: 6px;
  background-color: #ddd;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 50px;
  border: 1px solid #999;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--smart-mind-20);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.preloader .spinner {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--smart-mind-950);
  border-radius: 50%;
  border-bottom-color: transparent;
  border-top-color: transparent;
  animation: loader 0.7s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader.hide-loader {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header {
  width: 100%;
  height: 7rem;
  padding: 0 3%;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.header .admin {
  position: relative;
}
.header .admin .admin-info-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}
.admin-info-wrapper .admin-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.admin-image img {
  width: 100%;
  height: 100%;
}

.admin-info-wrapper .admin-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.admin-info h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
}
.admin-info p {
  font-size: 1.2rem;
}

.container {
  width: 100%;
  padding: 4rem;
  min-height: calc(100% - 7rem);
  background-color: var(--bg-color);
}
.container .questions-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 2rem;
  column-gap: 3rem;
}
.questions-container .question-card {
  width: 100%;
  padding: 2rem 3rem;
  background-color: var(--smart-mind-20);
  border-radius: 1.5rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
}

.question-card .question-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.question-info-wrapper .question-item {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
}
.question-item .question-item-label {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--text-color);
}
.question-item .question-item-value {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
}
.question-item textarea {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
  border: 0;
  resize: none;
}

.question-info-wrapper .options-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.options-item .option-group {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.option-group .option-field {
  width: 100%;
  height: 6rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.option-field input {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0 1rem;
  background: transparent;
  word-break: break-all;
}
.option-field span {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-color);
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.option-group label {
  display: block;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.question-card form .delete-question {
  width: 100%;
}
.delete-question button {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3rem;
  background-color: #ef4444;
  color: var(--smart-mind-20);
  font-size: 1.5rem;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}
